@import url(http://fonts.googleapis.com/css?family=Syncopate|Istok+Web:400,700,400italic,700italic|Quicksand|Josefin+Sans|Cantarell|Aldrich|Mandali);

body {
  background-color: #141311;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
}

video#dreamrisedo-vid {
position: absolute; right: 0; bottom: 0;
min-width: 100%; min-height: 700px;
width: auto; height: auto; z-index: -100;
background: url(images/ajax-loader.gif) no-repeat;
background-size: cover;
}

#logo {
  color: #FFFFFF;
  background-color: transparent;
  font-family: 'Quicksand', cursive;
  font-size: 300%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin-top: 15%;
}

#header {
  background-color: transparent;
  display: block;
  position: fixed;
  float: top;
  width: 100%;
}

.button {
  display: inline-block;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: #FFFFFF;
  margin-left: 10%;
}


section#about {
  position: absolute;
  top: 650px;
  height: 600px;
  z-index: -100;
}

section#about h1 {
  position: relative;
  color: #a2482e;
  margin-top: 10%;
}

section#about.wrapper {
  display: block;
  float: left;
  margin-top: 10%;
}

div#column1 {
  display: inline-block;
  width: 31%;
  margin-right: 3.5%;
  float: left;
}

div#column2 {
  display: inline-block;
  width: 31%;
  float: left;
}

div#column3 {
  display: inline-block;
  width: 31%;
  margin-left: 3.5%;
  float: left;
}

section#projects {
  position: absolute;
  top: 1300px;
  height: 600px;
  z-index: -100;
}

section#projects h1 {
  position: relative;
  color: #a2482e;
  margin-top: 10%;
}

section#photos {
  position: absolute;
  top: 1950px;
  height: 600px;
  z-index: -100;
}

section#photos h1 {
  position: relative;
  color: #a2482e;
  margin-top: 10%;
}

section#thoughts {
  position: absolute;
  top: 2600px;
  height: 600px;
  z-index: -100;
}

section#thoughts h1 {
  position: relative;
  color: #a2482e;
  margin-top: 10%;
}

a {
  color: #FFFFFF;
}

a:link {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  font-size: 1.5em;
}

a:visited {
  text-decoration: none;
}


a {
  color: #FFFFFF;
}
a:link {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  font-size: 1.5em;
}

a:visited {
  text-decoration: none;
}

li {
  line-height: 200%;
}

